{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='./styles/index.css')}}"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Josefin+Slab:wght@600&display=swap" rel="stylesheet">
    <div class="about">
        <h1 >What is Secret Recipe Box?</h1>
        <p class="description">Secret Recipe Box is a blog where you can share your favorite recipes and the stories behind them! Have any recipes family and friends can't get enough of? Share it here!</p>
    </div>

{% endblock %}